# Define the Decanter simple scheduler period
period=5000

# scheduler thread pool

# The time to wait before stopping an idle thread (in millesecond)
# Default is 1 minute
threadIdleTimeout=60000

# Initial number of threads created by the scheduler
# Default is 5
threadInitCount=5

# Maximum number of threads created by the scheduler
# Default is 200
threadMaxCount=200